<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SolarConsultants Tube</title>
</head>

<body
    style="max-width: 850px; padding: 10px; box-sizing: border-box; position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%;">
    <div style="background: whitesmoke; padding: 10px; border: 1px solid #e9e9e9; border-radius: 10px;">
        <table style="width: 100%;">
            <tbody>
                <tr>
                    <td align="start">
                    <img src="https://www.solarconsulting.tube/assets/images/landingpage/solar-consultants-logo.png"
                    alt=""
                       style="text-align: center;
                        max-width: 380px;
                        width: 100%;
                        height: 120px;"
                    />
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width: 100%;">
            <tbody style="padding-top: 40px; display: block;">
                <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;">Hi <%= name %>,
                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;">Thanks for registering, Click the SolarConsultants.tube link to activate your account: 
                    </td>
                </tr>
                <!-- <tr>
                    <td style="padding-bottom: 10px; font-size: 17px;">Please click this link to activate your
                        account:
                    </td>
                </tr> -->
                <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;"><a style="color: rgb(53, 108, 228);"
                            href="<%= url %>">Click here</a></td>
                </tr>
                <!-- <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;">Have a great day!
                    </td>
                </tr> -->
                <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;">SolarConsultants.tube

                    </td>
                </tr>
                <tr>
                    <td style="padding-bottom: 20px; font-size: 17px;"><a style="color: black;"
                            href="mailto:info@solarconsulting.tube">info@solarconsulting.tube </a>
                    </td>
                </tr>
            </tbody>
    </div>
    </tbody>
</body>

</html>